:root {
  --deep-sky-blue: #00aaff;
  --lime-green: #4cb034;
  --milk: #e9f2f7;
  --dark-cyan: #009696;
  --dark-grey: #444;
}

.no-link {
  text-decoration: none !important;
  color: var(--bs-dark) !important;
}

.no-hover:hover, .no-hover:focus {
  cursor: pointer;
  text-decoration: none !important;
  color: var(--bs-dark) !important;
  outline: none !important;
  box-shadow: none !important;
}

.transition {
  transition: 0.5s;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

#announcement {
  background-color: var(--dark-cyan);
  padding: 1.5em;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem 4rem 2rem;
  background-color: var(--dark-grey);
  color: white;
}
